* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 .container{
    margin: 0 auto;
    max-width: 1000px;
 }
 .row{
    display: flex;
    flex-wrap: wrap;
 }
 img{
    width: 100%;
    display: block;
 }





 .background-header{
    background-color: orange;
    padding: 15px 0;
 }

.background-header .row{
    justify-content: space-between;
}


  .row .col-1{
    padding: 30px 5px;
  }

  .col-1 {
    
    width: calc(6 * 100% / 18);

  }
  .foto{
    position: relative;
  }
  .sconto{
    background-color: red;
    padding: 2px 5px;
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 10;
  }
  .sostenibilita{
    background-color: green;
    padding: 2px 5px;
    position: absolute;
    bottom: 30px;
    left: 50px;
    z-index: 10;
  }
  .sostenibilita-only{
    background-color: green;
    padding: 2px 5px;
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 10;
  }
  .cuore{
    background-color: white;
    padding: 8px;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 10;
  }
  .soldi-sconto{
    color: red;
  }

  .foto .overlay{
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     opacity: 0;
  }
  .col-1:hover .overlay{
    opacity: 1;
  }






  .background-foot{
    background-color: rgba(0, 0, 0, 0.852);
    padding: 20px 0;
    color: white;
}



  .background-foot .row{
    justify-content: space-between;

  }